---
import Landingbanner from "../blocks/landing/landingbanner.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kofea" fw fh>
    <main>
        <Landingbanner />
    </main>
</Layout>

<style></style>
