---
import Layout from "../layouts/Layout.astro";
import LandingPageBanner from "../views/LandingPage/LandingPageBanner.vue";
---

<Layout title="Kofea" fw fh>
    <main>
        <LandingPageBanner />
    </main>
</Layout>

<style>
    main {
        width: 100%;
    }
</style>
