:root {
    --accent: #fff;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%);
    transition: all 200ms ease;
    color: white;
}

html {
    font-family: system-ui, sans-serif;
    background: #13151a;
}

code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 800;
}

a:hover {
    color: rgb(98, 221, 194);
}

a:hover::after {
    color: white;
}

