---
import '@fontsource/silkscreen'
import '../assets/reset.css'
import '../assets/theme.css'
import '../assets/utils.css'

interface Props {
    title: string;

    fw?: boolean;
    fh?: boolean;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-ico" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class:list={[Astro.props.fw ? "fw" : "", Astro.props.fh ? "fh" : ""]}>
        <header id="root-header">
            <!-- <nav> -->
                <a href="/">Landing</a>
            <!-- </nav> -->
        </header>
        <slot />
    </body>
</html>
<style is:global>
#root-header{
    font-weight: normal;
    position: fixed;
    top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root-header a{
    font-size: 1rem;
    font-weight: normal;
    animation: rainbowAnimation 10s linear infinite; 
    animation-delay: 200ms;
}

</style>
